<title hx-swap-oob="true">HTMX Demo (Home)</title><!--Extra content "oob" (Out Of Band) - to replace/update title element in main frame. -->

<!-- Main Content, inside #content div -->

<H1>Welcome to mini HTMX Demo Website.</H1>
<H2>HTMX Key Concepts</H2>

<H3>1. Enhanced Hyperlinks and HTTP Methods</H3>
<P>HTMX extends standard HTML elements with native support for HTTP requests, eliminating the need for custom JavaScript for many interactions.<BR>
<BR>
<b>Capabilities:</b>
<UL>
<LI>AJAX requests directly from HTML</LI>
<LI>Full support for HTTP methods: GET, POST, PUT, PATCH, DELETE</LI>
<LI>Any HTML element can trigger a server request.</LI>
</UL>
<BR>
<b>Key Message : </b> HTMX enhances hyperlinks and forms to leverage the full power of HTTP directly from HTML.</P>

<H3>2. Partial Page Updates</H3>
<P>Instead of reloading an entire page after each user action, HTMX requests only the required HTML fragment and updates a specific part of the page.<BR>
<BR>
<b>Benefits</b><BR>
<UL>
  <LI>Faster user experience</LI>
  <LI>Reduced bandwidth usage</LI>
  <LI>Simpler frontend architecture</LI>
  <LI>Server-rendered HTML remains the source of truth</LI>
</UL>

<b>Key Message : </b>HTMX updates only the relevant parts of a page, not the entire page.<BR>
</P>
<script src="highlight_menu.js"></script>
<div hx-on::after-swap="HighlightMenu("home"); console.log("home);"></div>
